$color-white: #ffffff;
$color-black: #202030;
$color-black-50: #505060;
$color-gray: #ccccdd;
$color-main: #392cc9;
$color-main-2: #9aabda;
$color-main-darker: #2418b4;
$color-main-50: #8178e7;
$color-main-50-2: #b38bd4;
$color-green: #39ae76;
$color-yellow: #f1cb00;
$color-orange: #ff8e26;
$color-red: #ee4c19;
$color-blue: #5099ce;

$gap-s: 10px;
$gap-m: 20px;
$gap-l: 30px;

$icon-s: 15px;
$icon-m: 30px;
$icon-l: 45px;

$fs-s: 12px;
$fs-m: 18px;
$fs-l: 26px;

$border-radius-outer: 24px;
$border-radius-inner: 10px;

$container-width: 900px;
$navbar-height: 80px;
$calendar-item-height: 60px;

$anim-time: 0.35s;
$anim-mode: ease-in-out;
