$color-white: #ffffff;
$color-black: #202030;
$color-black-50: #505060;
$color-gray: #CCCCDD;
$color-main: #392CC9;
$color-main-darker: #2418B4;
$color-main-50: #8178E7;
$color-green: #39AE76;
$color-yellow: #F1CB00;
$color-orange: #FF8E26;
$color-red: #EE4C19;
$color-blue: #5099CE;

$gap-s: 10px;
$gap-m: 20px;
$gap-l: 30px;

$icon-s: 15px;
$icon-m: 30px;
$icon-l: 45px;

$fs-s: 12px;
$fs-m: 18px;
$fs-l: 26px;

$container-width: 900px;
$navbar-height: 80px;

$anim-time: 0.3s;
$anim-mode: ease-out;