@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-purple/theme.css";
@import "@vars/vars.scss";

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body {
    width: 100%;
}

body {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    height: 100dvh;
    font-weight: normal;
    font-style: normal;
    line-height: 2em;
    overflow: hidden;
}

hr {
    width: 100%;
    height: 2px;
    background-image: linear-gradient(0.25turn, $color-main-2, $color-main-50-2);
    border: none;
}

h1 {
    font-size: $fs-l;
}

img {
    pointer-events: none;
}

button {
    cursor: pointer;
}